# django-humans-txt
# MANIFEST.in


prune tests*
recursive-include humans_txt *.po
recursive-include humans_txt *.mo
include humans_txt/templates/humans_txt/includes/humans_txt_meta.html
include humans_txt/templates/humans_txt/humans_txt.txt
